@import 'phoqer/dist/styles/scss/mixin';
@import '../shared/shared.module';

.dragOption {
    margin-bottom: 0.8rem;
    padding: 0.7rem;
    cursor: grab;
    border-radius: 0.8rem;
    transition: box-shadow 0.3s ease-in-out;
    border: 0.1rem solid var(--gray-6);

    &:hover {
        background: var(--secondary-1);
        border-color: var(--primary-1);

        .drag {
            background: var(--white);
        }
    }

    &:active {
        background: var(--secondary-1-hover);
        box-shadow: var(--outline);
        border-color: var(--primary-1);

        .drag {
            background: var(--white);
        }
    }
}

.image {
    height: 5.2rem;
    max-width: 6.8rem;
    min-width: 6.8rem;
    border-radius: 0.6rem;
}

.name {
    flex-grow: 2;
    @include cut-string;
}

.drag {
    margin-right: 0.8rem;
    padding: 1.5rem 0.5rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    color: var(--gray-7);
}

.delete {
    margin: 0;
}
