.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--chat-height);

    svg {
        font-size: 25rem;
    }

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin-top: 2rem;
            text-align: center;
        }
    }
}
