.header {
    --header-inner: 3.5rem;

    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
    background: var(--body);
    color: var(--black);
    border-bottom: 0.1rem solid var(--gray-200);

    .author {
        margin-right: 1rem;
        margin-bottom: 0.2rem;
        padding: 0.2rem 0.8rem;
        background: var(--primary-blue-500);
        border-radius: 0.3rem;
        color: var(--white-true);
        font-size: 1rem;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner {
        display: flex;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        width: 7.2rem;
        height: var(--header-inner);
        margin-right: 2rem;
        color: var(--primary-green-500);

        svg {
            height: 100%;
            width: 100%;
        }
    }
}
