.avatar {
    border-radius: 50%;
}

.sm {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 1rem;
}

.md {
    height: 10rem;
    width: 10rem;
    font-size: 2rem;
}

.lg {
    height: 15rem;
    width: 15rem;
    font-size: 3rem;
}
