.root {
    --dropdown-width: 16rem;

    position: relative;
    margin-right: 1rem;

    @media only screen and (min-width: 450px) {
        margin-right: 2rem;
    }
}

.icon {
    transition: 0.2s ease-in-out;
}

.open {
    transform: rotate(180deg);
}

.btn {
    > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
