<h2 mat-dialog-title>Edit content</h2>
<mat-dialog-content class="content">
    <form class="flex">
        <mat-form-field class="input">
            <mat-label>Unique text id</mat-label>
            <input
                matInput
                placeholder="hello"
                [value]="id"
                (change)="changeId($event)"
            />
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Translated content</mat-label>
            <textarea
                matInput
                placeholder="Hello"
                [value]="content"
                (change)="changeContent($event)"
            ></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [mat-dialog-close]="null">
        Cancel
    </button>
    <button
        color="primary"
        mat-raised-button
        [mat-dialog-close]="{ id: id, content: content }"
    >
        Save
    </button>
</mat-dialog-actions>
