<div class="page">
    <div class="flex">
        <div class="inner">
            <h4>Select language</h4>
            <mat-form-field appearance="fill">
                <mat-label>languages</mat-label>
                <mat-select
                    [value]="selected"
                    (selectionChange)="select($event.value)"
                >
                    <mat-option
                        *ngFor="let lang of languages"
                        [value]="lang.link"
                    >
                        {{ lang.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="add">
            <h4>Add new content:</h4>
            <button mat-fab color="primary" (click)="open()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="content" *ngIf="trans.data; else loading">
        <app-table></app-table>
    </div>

    <ng-template #loading>
        <div class="content">
            <ngx-skeleton-loader
                count="10"
                appearance="line"
                [theme]="{ height: '50px' }"
            ></ngx-skeleton-loader>
        </div>
    </ng-template>
</div>

<div class="absolute">
    <button mat-fab color="warn" (click)="open()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<app-scroll-bottom></app-scroll-bottom>
