.page {
    padding: 3rem;
}

.content {
    width: 100%;
}

.flex,
.add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add {
    h4 {
        margin: 0 2rem 0 0;
    }
}

.save-btn {
    margin-left: 3rem;
}

.absolute {
    position: fixed;
    bottom: 3rem;
    right: 15rem;
    z-index: 10;
}
