.header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    min-height: 7rem;
    border-bottom: 0.1rem solid var(--gray-4);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 12rem);
    width: 100%;
    margin: 0 auto;

    @media only screen and (min-width: 1400px) {
        max-width: 40rem;
    }

    .label {
        display: block;
        width: 100%;
        margin-bottom: 3rem;
    }

    .link {
        margin-bottom: 3rem;
        color: var(--primary-1);
    }

    .text {
        margin-bottom: 0.8rem;
        font-size: 1.4rem;
        font-family: var(--font-title);
    }

    .footer {
        width: 100%;

        > * {
            display: flex;
            width: 100%;
            margin: 1rem 0;
            height: 4.5rem;
            border-radius: 0.8rem;
        }
    }
}
