.white {
    /* blue */
    --secondary-blue-400: #edf4fe;
    --secondary-blue-500: #d9e6fa;
    --secondary-blue-600: #c1e3ff;

    --primary-blue-400: #709fdc;
    --primary-blue-500: #0364a8;
    --primary-blue-600: #274684;

    /* red */
    --secondary-red-400: #ffe5e5;
    --secondary-red-500: #ffc6c6;
    --secondary-red-600: #f5acac;

    --primary-red-400: #f58575;
    --primary-red-500: #dc4b48;
    --primary-red-600: #b53543;

    /* green */
    --secondary-green-400: #edf8f0;
    --secondary-green-500: #daf8e7;
    --secondary-green-600: #b0d3bf;

    --primary-green-400: #7cb488;
    --primary-green-500: #37745b;
    --primary-green-600: #217074;

    /* yellow */
    --secondary-yellow-400: #fdf7ee;
    --secondary-yellow-500: #ffeeca;
    --secondary-yellow-600: #f3dab0;

    --primary-yellow-400: #f6d28f;
    --primary-yellow-500: #d69920;
    --primary-yellow-600: #da8b01;

    /* gray */
    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    --gray-150: #f0f0f0;
    --gray-200: #d9d9d9;
    --gray-300: #bfbfbf;
    --gray-400: #8c8c8c;
    --gray-500: #606164;
    --gray-600: #3e4046;
    --gray-700: #30333d;
    --gray-800: #262a38;

    --white: #fff;
    --black: #2b303d;

    --white-true: #fff;
    --black-true: #2b303d;

    --body: #fff;
}

.black {
    /* blue */
    --secondary-blue-400: #2d3338;
    --secondary-blue-500: #3d464f;
    --secondary-blue-600: #455462;

    --primary-blue-400: #709fdc;
    --primary-blue-500: #0364a8;
    --primary-blue-600: #274684;

    /* red */
    --secondary-red-400: #3f3838;
    --secondary-red-500: #544949;
    --secondary-red-600: #655454;

    --primary-red-400: #f58575;
    --primary-red-500: #dc4b48;
    --primary-red-600: #b53543;

    /* green */
    --secondary-green-400: #2f3b36;
    --secondary-green-500: #41574e;
    --secondary-green-600: #4b6c5f;

    --primary-green-400: #349a6d;
    --primary-green-500: #37745b;
    --primary-green-600: #217074;

    /* yellow */
    --secondary-yellow-400: #4f483c;
    --secondary-yellow-500: #645946;
    --secondary-yellow-600: #817052;

    --primary-yellow-400: #dab97b;
    --primary-yellow-500: #feca64;
    --primary-yellow-600: #fcac23;

    /* gray */
    --gray-50: #323438;
    --gray-100: #37383b;
    --gray-150: #4a4c4d;
    --gray-200: #525254;
    --gray-300: #8c8c8c;
    --gray-400: #bfbfbf;
    --gray-500: #d9d9d9;
    --gray-600: #f0f0f0;
    --gray-700: #f5f5f5;
    --gray-800: #fafafa;

    --white: #16162a;
    --black: #fff;

    --white-true: #fff;
    --black-true: #16162a;

    --body: #292d2d;
}
