<h2 mat-dialog-title>Add new content</h2>
<mat-dialog-content class="content">
    <form class="flex">
        <mat-form-field class="input">
            <mat-label>Unique text id</mat-label>
            <input matInput placeholder="hello" name="id" [(ngModel)]="id" />
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Translated content</mat-label>
            <textarea
                matInput
                placeholder="Hello"
                name="content"
                rows="14"
                [(ngModel)]="content"
            ></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [mat-dialog-close]="null">
        Cancel
    </button>
    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="{ id: id, content: content }"
    >
        Save
    </button>
</mat-dialog-actions>
