.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}

.backdrop:global(.enter-done) .scroll {
    transform: translateY(0);
    opacity: 1;
}

.scroll {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transform: translateY(-5rem);
    opacity: 0;
    transition: 0.2s ease-in-out;
}
