/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.input {
    width: 30rem;
}

tr:not(.mat-header-row) {
    cursor: pointer;

    &:hover {
        background: #efefef;
    }
}

.modal {
    width: 90%;
    max-width: 50rem;
}
