<header class="header">
    <div class="">
        <button class="button" type="button">
            <fa-icon [icon]="faBars"></fa-icon>
            <span>Menu</span>
        </button>

        <a
            class="button"
            href="http://phoqer.com/ru/profile/private/1004/my_offers/all"
        >
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            <span>Back to profile</span>
        </a>
    </div>
    <a class="logo" href="http://phoqer.com">
        <img class="logo_img" src="/assets/logo.png" alt="" />
    </a>
</header>
