@import '../common/modal-container/modal-container.module';

.container {
    width: 100%;
    max-width: 36rem;
    padding-top: 3rem;
}

.text {
    margin: 2rem 5rem;
    text-align: center;
    font-size: 1.4rem;
}

.svg {
    font-size: 15rem;
}

.btn {
    width: calc(50% - 0.6rem);
}

.flex {
    padding: 0 2rem 2rem;
}
