.inner {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto 3rem;
}

.title {
    margin-bottom: 2rem;
    font-family: var(--font-title);
}

.start {
    margin-bottom: 2rem;
}

.btn {
    max-width: 20rem;
}

.gray {
    color: var(--gray-6);
}
