.root {
    --page-header: 7rem;
    --page-height: calc(var(--100vh, 100vh) - var(--page-header));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    width: 100%;
    min-height: var(--page-height);
    margin: 0 auto;
    padding: 4rem 1rem;
}

.title {
    margin-bottom: 0.5rem;
}

.text {
    margin-bottom: 2rem;
}

.w100 {
    width: 100%;
}

.input {
    margin-top: 1rem;
}

.mt {
    margin-top: 2rem;
}

.mr {
    margin-right: 2rem;
}

.label {
    display: block;

    .labelText {
        line-height: 1;
        margin: 0;
    }
}

.emailBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem 0.7rem 1.5rem;
    margin: 0 auto;
    border: 0.1rem solid var(--gray-4);
    border-radius: 2rem !important;
    color: var(--black);

    &:hover,
    &:focus {
        border-color: var(--gray-7);
    }

    p {
        margin-left: 1rem;
        line-height: 1;
    }

    svg {
        font-size: 1.4rem;
        margin-top: 0.2rem;
    }
}

.circle {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.link {
    color: var(--primary-1);

    &:hover,
    &:focus {
        color: var(--primary-1-active);
        text-decoration: underline;
    }
}
