@import '../table-body/table-cell/table-dropdown/table-dropdown.module';

.label {
    display: block;
    margin-bottom: 2rem;

    .text {
        margin-bottom: 0.5em;
        font-size: 1.4rem;
        font-family: var(--font-title);
    }
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    .btn,
    .label {
        width: 48%;
    }
}

.description {
    margin-bottom: 2rem;
}
