*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 370px) {
    html {
        font-size: 9px;
    }
}

body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

picture {
    display: block;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:hover,
input:focus,
input[type='text'],
button:hover,
button:focus,
button[type='text'],
textarea:hover,
textarea:focus,
textarea[type='text'],
select:hover,
select:focus,
select[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

input,
select,
textarea,
button,
a {
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

svg {
    height: 1em;
    width: 1em;
}
